.admin-main {
  &-branklink-img {
    position: relative;
    height: 36px;
    width: 36px;
    margin: 0 10px;
  }
  &-imageuser {
    position: relative;
    height: 25px;
    width: 60px;
    margin: 0 10px;
  }
}
.input-group-append {
  margin-top: -30px;
}

.admin__change {
  margin: 20px auto;
  width: 80%;
  &-group {
    &-title {
      font-size: 16px;
      margin-bottom: 30px;
      &-s {
        color: red;
      }
    }
    &-input {
      padding: 10px 20px;
      display: block;
      margin-bottom: 20px;
      width: 40%;
      border-radius: 5px;
      font-size: 16px;
    }
    &-btn {
      font-size: 20px;
      border: none;
      background-color: #343a40;
      color: $color-white;
      padding: 10px 20px;
      border-radius: 5px;
    }
  }
  &-img-tutorial {
    position: relative;
    height: 400px;
    width: 600px;
  }
}

.admin-group {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  &-input {
    &-label {
      font-size: 18px;
      display: block;
      margin-bottom: 20px;
    }
    &-input {
      display: block;
      font-size: 18px;
      padding: 10px 20px;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 30px;
      &-img {
        display: block;
      }
    }
  }
  &-btn {
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    color: $color-white;
    background-color: #343a40;
    border-radius: 5px;
  }
}
