.navbarpc {
  // margin: 0 auto;
  width: 100%;
  position: fixed;
  @extend Flex_center_spacebetween;
  z-index: 20;
  padding: 20px 10%;
  &-logo {
    position: relative;
    width: 240px;
    height: 100px;
    transition: all 0.8s ease-in-out;
    &-scroll {
      width: 120px !important;
      height: 50px !important;
      position: relative;
      transition: all 0.8s ease-in-out;
    }
  }
  &-menu {
    @extend Flex_center_spacebetween;
    width: 70%;
    &-title {
      font-size: 28px;
      position: relative;
      color: $color-primary;
      font-family: AvertaStdCY-Regular;
      &:hover {
        cursor: pointer;
        color: $color-red;
        transition: 0.2s ease-out;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: $color-red;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      &-scroll {
        font-size: 24px;
        color: $color-white;
        &:hover {
          color: $color-red;
        }
        &::after {
          background-color: $color-red;
        }
      }
    }
  }
  // css sroll
  &-scroll {
    background-color: $color-primary;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

// responsive
@include responsive_200 {
  .navbarpc {
    display: none;
  }
}
@include responsive_280 {
  .navbarpc {
    display: none;
  }
}
@include responsive_320 {
  .navbarpc {
    display: none;
  }
}

@include responsive_375 {
  .navbarpc {
    display: none;
  }
}

@include responsive_425 {
  .navbarpc {
    display: none;
  }
}
@include responsive_456 {
  .navbarpc {
    display: none;
  }
}

@include responsive_768 {
  .navbarpc {
    display: none;
  }
}

@include responsive_992 {
  .navbarpc {
    padding: 20px 5%;
    &-logo {
      width: 200px;
      height: 80px;
    }
    &-menu {
      width: 72%;
      &-title {
        font-size: 22px;
        &-scroll {
          font-size: 22px;
        }
      }
    }
  }
}

@include responsive_1024 {
  .navbarpc {
    padding: 20px 5%;
    &-logo {
      width: 200px;
      height: 80px;
    }
    &-menu {
      width: 75%;
      &-title {
        font-size: 22px;
        &-scroll {
          font-size: 22px;
        }
      }
    }
  }
}

@include responsive_1200 {
  .navbarpc {
    &-logo {
      width: 200px;
      height: 80px;
    }
    &-menu {
      &-title {
        font-size: 22px;
        &-scroll {
          font-size: 22px;
        }
      }
    }
  }
}
@include responsive_1440 {
}
@include responsive_1650 {
}
