.navbarpc {
  margin: 0 10%;
  position: fixed;
  @extend Flex_center_spacebetween;
  width: 80%;
  z-index: 20;
  padding: 20px 0;
  &-logo {
    position: relative;
    width: 240px;
    height: 100px;
  }
  &-menu {
    @extend Flex_center_spacebetween;
    width: 70%;
    &-title {
      font-size: 28px;
      position: relative;
      &:hover {
        cursor: pointer;
        color: $color-primary;
        transition: 0.2s ease-out;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: $color-primary;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}
