.section_4 {
  width: 80%;
  margin: 50px auto;
  background-color: #f7fff5;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  &-information {
    margin: 20px;
    &-title {
      text-align: right;
      font-size: 20px;
      font-family: AvertaStdCY-RegularItalic;
    }
    &-group {
      @extend Flex_center_spacebetween;
      margin: 20px 10%;
      &-input {
        width: 45%;
        height: 50px;
        border-radius: 10px;
        padding: 0 20px;
        outline: none;
        border: none !important;
        font-size: 20px;
        font-family: AvertaStdCY-Regular;
        background-color: #dcf3f3;
        color: #666;
      }
      &-select {
        width: 45%;
        height: 50px;
        border-radius: 10px;
        padding: 0 20px;
        border: none !important;
        font-size: 20px;
        font-family: AvertaStdCY-Regular;
        background-color: #dcf3f3;
        padding: 0 20px;
        color: #666;
        // css cho icon mũi tên của slect box
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url("/4x/icon_select.png");
        background-repeat: no-repeat, repeat;
        background-position: right 20px top 50%, 0 0;
        background-size: 25px auto, 100%;
      }
    }
  }
}
